{% load static from staticfiles %}
<!doctype html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>


<div class="site-container">











    <nav>
        <a href="{% url 'views.hello_world' %}">Home</a>
        <a href="{% url 'sectors:list' %}">Jobs</a>
    </nav>
    {% if messages %}
        <div class="row">
            {% for message in messages %}
                <div data-alert class="alert-box {{ message.tags }} radius">
                {{ message }}
                <a href="#" class="close">&times;</a>
            {% endfor %}
            </div>

        </div>
    {% endif %}

    {% block content %}{% endblock %}
</div>
</body>

</html>